* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/* barra de input */
.menu {
    display: flex;
    gap: 5px;
    padding: 5px;
    border-radius: 15px;
    width: 400px;
    background-color: #ccc;
}

.menu input {
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 0px 5px;
    outline: none;
}

.menu input::placeholder {
    margin-left: 5px;
}

button {
    border: none;
    width: 24px;
    height: 24px;
    background-color: #ccc;
    cursor: pointer;
}

.menu button {
    border-radius: 50%;
}


/* Lista */
.container {
    width: 400px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ccc;
    border-radius: 15px;
    list-style: none;
}

.cartao {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tarefa {
    width: 100%;
    border-radius: 15px;
    line-height: 24px;
    font-size: 14px;
    padding: 0 5px;
    background-color: #fff;
}

.botoes {
    display: flex;
    gap: 5px;
    color: #5F6368;
}

/* tarefa marcada */
.marcado {
    text-decoration: line-through;
}